body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

#guide {
  position: absolute;
  right: 0;
  margin: .5em;
  border: solid .1em #fff;
  padding: .5em;
  font-size: .5em;
  text-align: left;
  background: #000;
}

canvas {
  border: solid .2em #fff;
  height: 90vh;
}
